/* GENERALES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259C3;
    --gris-oscuro: #666;
    --gris-claro: #EBEBEB;
    --verde: #39B54A;
    --cuerpos-de-texto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

/* HEADER */

.header {
    background-color: var(--amarillo);
}

.header__logo {
    width: 100%;
    /* margin: 2% 2%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2% 2% 0 2%;
}

.logo {
    width: 45%;
}

.busqueda {
    width: 50%;
    display: flex;
    align-items: center;
}

.busqueda__input {
    width: 100%;
}

.lupa {
    align-self: center;
    margin-left: 1%;
}

.navegacion {
    width: 100%;
}

.header__eslogan {
    font-size: 18px;
    text-align: center;
    padding: 0 2%;
}

.mano {
    margin-right: 1%;
}

.lista1, .lista2 {
    display: none;
    list-style-type: none;
}

.burger-menu {
    text-align: center;
    padding: 1.5%;
    display: inline-block;
    background-color: var(--celeste);
}

.burger__link {
    color: white;
}

.header__banner {
    width: 100%;
    margin: 5% 0 0 0;
    display: flex;
    align-items: flex-end;
}

.header__banner--foto {
    width: 100%;
}

/* MAIN */

.main {
    margin: auto;
    background-color: var(--gris-claro);
    padding: 0.1% 0;
}

.producto {
    border: 1px solid gray;
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
    line-height: 20%;
    position: relative;
    transition: display 300ms;
    transition: box-shadow 300ms;
}

.producto__imagen {
    width: 100%;
    margin-bottom: 2%;
}

.producto__precio {
    font-size: 18px;
}

.producto__descuento {
    font-size: 14px;
    color: var(--verde);
    
}

.producto__nombre {
    padding-bottom: 10%;
    font-family: "Roboto";
    color: var(--gris-oscuro);
    /* display: none; */
    /* transition: display 300ms; */
}

.producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* .producto:hover .producto__nombre {
    display: flex;
} */

.camion {
    padding: 5% 0 4%;
    color: var(--verde);
}

.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;
    transition: transform 300ms;
}

.producto:hover .camion {
    transform: rotateZ(-90deg);
}

.producto--datos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.producto__precio, .producto__descuento, .producto__nombre, .camion {
    margin-left: 5%;
}

.link {
    text-decoration: none;
    color: black;
}

.link__section {
    display: flex;
    gap: 2%;
}

.link__section1 {
    display: flex;
}

.burger-menu {
    color: white;
    margin-left: 50%;
}

.icono {
    margin-left: 2%;
}

/* FOOTER */

.footer__section {
    text-align: center;
    margin-bottom: 2%;
    width: 95%;
    margin: auto;
}

.footer__icon {
    margin-top: 15%;
    line-height: 2%;
}

.titular {
    text-align: center;
    font-size: 20px;
    font-family: "Roboto";
    color: var(--gris-oscuro);
    margin: 5% auto;
}

.titular__footer {
    text-align: center;
    font-size: 20px;
    font-family: "Roboto";
    color: var(--gris-oscuro);
}

.descripcion {
    font-size: 12px;
    margin-top: -6%;
}

.copyright {
    margin-top: 10%;
    font-size: 14px;
}

/* MEDIA QUERIES */
/* 449px */
@media (min-width: 449px){
    .lista1, .lista2 {
        display: flex;
        flex-direction: column;
    }

    .lista1 {
        align-items: flex-start;
        width: 40%;
        padding: 0;
    }

    .lista1 li {
        padding: 1% 0;
    }

    .lista2 {
        width: 40%;
    }

    .lista2 .icono {
        margin-left: 2%;
    }

    .navegacion {
        display: flex;
        justify-content: space-around;
        
    }

    .link__section {
        justify-content: flex-end;
    }

    .burger-menu {
        display: none;
    }

    .descripcion {
        font-size: 14px;
        margin-top: -3%;
    }

    .eslogan {
        font-size: 22px;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
    }

    .producto {
        width: 45%;
    }

    .footer {
        padding-bottom: 2%;
    }

    .copyright {
        margin-top: 4%;
    }
}

/* 769px */
@media (min-width: 769px){
	.header__logo {
		flex-wrap: nowrap;
		justify-content: space-around;
	}
	
	.logo, .header__busqueda, .header__eslogan {
		width: 33%;
	}
	
	.logo {
		padding: 0 2%;
	}
	
    .descripcion {
        font-size: 16px;
        margin-top: -1%;
    }

    .eslogan {
        font-size: 24px;
    }
	
	.navegacion {
		display: flex;
		margin: 2% 0 0 0;
		padding: 0;
		align-items: flex-start;
	}
	
	.lista1, .lista2 {
		margin: 0;
		padding: 0;
		flex-direction: row;
	}
	
	.lista2 {
		align-items: center;
		justify-content: center;
		
	}
	
	.link__section {
		margin: 0 auto;
		width: 30%;
	}
	
	.link__section1 {
		margin: 0 2%;
	}

    .productos {
        display: flex;
        flex-wrap: wrap;
    }

    .producto {
        width: 22.5%;
    }

    .producto__nombre {
        font-size: 15px;
    }

    .footer {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .footer__section {
        margin: 0 2%;
    }
}

/* 1200px */
@media (min-width: 1200px){
	.header__logo {
		justify-content: space-around;
	}
	
	.eslogan {
		width: 20%;
	}
	
	.logo {
		width: 20%;
		padding: 0;
	}
	
	.navegacion {
		font-size: 16px;
		padding: 0;
	}
	
	.busqueda {
		width: 20%;
	}
	
	.titular {
		margin: 2% 0;
	}
	
	.producto {
		font-size: 20px;
		margin-bottom: 2%;
	}
	
	.producto__precio {
		font-size: 25px;
	}
	
	.producto__descuento {
		font-size: 18px;
	}

    .producto__nombre {
        font-size: 18px;
    }
	
	.producto--datos {
		align-items: center;
	}
}